.titulito{
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.table {
    background-color: #1B2349; /* Cambia el color de fondo a lo que prefieras */
    position: relative;
    transform: translateY(10%);
    max-width: 100%;
    
  }
  
  .table th,
  .table td {
    color: #ffffff; /* Cambia el color del texto a lo que prefieras */
  }
  
  .table {
    border-radius: 10px; /* Cambia el valor de "border-radius" según lo que desees */
  }
  
  .table tbody tr:hover {
    background-color: #747fb4; /* Cambia el color de fondo "hover" a lo que prefieras */
  }
  
  .table-responsive {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    border-radius: 10px;
  }
  
  .table-responsive::-webkit-scrollbar-thumb {
    background-color:#747fb4(0,0,0,.2);
    border-radius: 1px;
  }
  
  .table-responsive::-webkit-scrollbar-track {
    background-color: #747fb4;
    border-radius: 1px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container ul {
    margin: 0 10px;
  }

  /* Estilo para scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #271568;
  border-radius: 10px;
  border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #796edd;
}
  